.footer-wrapper {
    background: #f7f8f9;
    width: 100%;
    height: 60px;
    display: flex;
}

.footer-wrapper .footer {
    background: inherit;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    flex: 1;
    color: #646f7c;
    justify-content: space-between;
}