.header-wrapper {
    background: var(--gray800);
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    /*align-items: center;*/
}
.header-wrapper .header {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    padding: 10px 30px;
    flex: 1;
}
.header-wrapper .header .logo {
    color: white;
    flex: 1;
}
.header-wrapper .header .user-name {
    color: white;
}
