.main-page {
    max-width: 1280px;
    margin: 60px auto 0 auto;
    padding: 60px 16px;
}

.main-page .title-header-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.main-page .title-header-wrapper .header-right-area {
    display: flex;
    align-items: center;
}

.main-page .title-header-wrapper .header-right-area .search-area {
    display: flex;
    align-items: center;
}

.main-page .title-header-wrapper .header-right-area .search-area .input {
    margin-left: 4px;
}

.main-page .title-header-wrapper .header-right-area .sort-area {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.main-page .title-header-wrapper .header-right-area .sort-area span {
    margin-right: 8px;
    color: var(--custom-secondary);
    display: flex;
    align-items: center;
}

.main-page .title-header-wrapper .header-right-area .sort-area span:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 14px;
    background: var(--gray300);
    margin-right: 20px;
}

.main-page .title-header-wrapper .title {
    flex: 1;
    font-size: 20px;
    margin: 0;
}

.main-page .card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 16px 0;
    width: 100%;
    column-gap: 8px;
    row-gap: 16px;
}

.main-page .card-list .card-item {
    border: 1px solid var(--gray400);
    border-radius: 8px;
    position: relative;
    max-width: 300px;
}

.main-page .card-list .card-item .info-wrapper {
    padding: 16px;
    width: 100%;
}

.main-page .card-list .card-item .info-wrapper .inline {
    display: flex;

}

.main-page .card-list .card-item .info-wrapper .inline div:first-child {
    color: var(--custom-secondary);
    font-weight: 500;
    min-width: 70px;
}

.main-page .card-list .card-item .info-wrapper .inline div:last-child {
    color: var(--black);
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.main-page .card-list .card-item .card-image {
    border-radius: 8px 8px 0 0;
    /*width: 100px;*/
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.main-page .card-list .card-item .bookmark-button {
    position: absolute;
    right: 10px;
    top: -17px;
    z-index: 5;
}

.main-page .card-list .card-item .bookmark-button i {
    font-size: 1.5rem;
    color: var(--custom-primary);
}

.main-page .card-list .card-item .delete-button {
    /*text-align: right;*/
}

.main-page .card-list .card-item .btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-page .card-list .card-item .delete-button:hover i {
    color: var(--gray600);
}

.main-page .card-list .card-item .delete-button i {
    font-size: 1.2rem;
    color: var(--gray400);
    transition: all 0.2s ease;
}

.no-search-data {

}

.view-detail {

}