            * {
                font-family: "Do Hyeon", sans-serif;
            }
            .form-control{
                width : 250px;
                height: 35px;
                margin: auto;
                display:inline-block;
            }
            .email-control{
                width : 130px;
                height: 35px;
                margin: auto;
                display:inline-block;
            }
            .company-form{
                width : 100px;
                height: 35px;
                margin: auto;
                display:inline-block;
            }
            .outline{
                width: 600px;
                margin: 25px auto 25px auto;
                border: 1px solid red;
            }
            .wrap{
                width: 600px;
                margin: 100px auto 100px  auto;
            }
            .name-form{
                width : 300px;
            }
            .select-box{
                width:200px;
                height: 35px;
            }
