{% extends 'index.html' %}

{% block content %}
    <header class="header-wrapper">
        <section class="header">
            <div class="logo">Business card wallet</div>
            <div class="user-name">홍길동 님</div>
            <button class="button is-small">login</button>
            <button class="button is-small">logout</button>
        </section>
    </header>
    <section class="main-page">
        {% if bookmark_card_list != [] %}
            <div class="title-header-wrapper">
                <div aria-label="title" class="title">즐겨찾기 리스트</div>

                <div class="header-right-area">
                    <div class="search-area">
                        <div class="select">
                            <select id="bookmark-search-list">
                                <option value="company">회사</option>
                                <option value="name">이름</option>
                                <option value="position">직책</option>
                                <option value="role">직무</option>
                                <option value="tel">전화번호</option>
                                <option value="email">이메일</option>
                            </select>
                        </div>

                        <input class="input" aria-label="search-box" type="text" id="bookmark-search"
                               onkeyup="handleSearchKeyBookmark()" placeholder="검색어를 입력해주세요"/>

                    </div>

                    <div class="sort-area">
                        <span>정렬 선택</span>
                        <div class="select">
                            <select class="h-select sort-select" id="sort-list-select"
                                    onchange="handleChangeBookmarkListSelect(this.value)">
                                <option value="register">등록순</option>
                                <option value="company">회사명</option>
                                <option value="name">이름순(가나다순)</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            <div aria-label="bookmark-list" class="card-list bookmark-list" id="bookmark-list">
                {% for card in bookmark_card_list %}
                    <div aria-label="card-item" class="card-item">
                        {% if card.card_bookmark == 1 %}
                            <div onclick="handleClickBookmark('{{ card._id }}')" class="bookmark-button active click">
                                <i class="bi bi-bookmark-fill"></i>
                            </div>
                        {% else %}
                            <div onclick="handleClickBookmark('{{ card._id }}')" class="bookmark-button click">
                                <i class="bi bi-bookmark"></i>
                            </div>
                        {% endif %}

                        {% if card_imgs in card %}
                            <img src="" class="card-image"/>
                        {% else %}
                            <img src="/static/images/noimg.png" class="card-image"/>
                        {% endif %}

                        <div class="info-wrapper">
                            <div class="inline">
                                <div>회사</div>
                                <div>{{ card.card_company }}</div>
                            </div>
                            <div class="inline">
                                <div>이름</div>
                                <div>{{ card.card_name }}</div>
                            </div>
                            <div class="inline">
                                <div>직책</div>
                                <div>{{ card.card_role }}</div>
                            </div>
                            <div class="inline">
                                <div>전화번호</div>
                                <div>{{ card.card_tel }}</div>
                            </div>
                            <div class="inline">
                                <div>이메일</div>
                                <div>{{ card.card_email }}</div>
                            </div>
                            <div class="btn-wrapper">
                                <div onclick="handleClickDeleteCard('{{ card._id }}')" class="delete-button click">
                                    <i class="bi bi-trash-fill"></i>
                                </div>
                                <button class="button view-detail">상세보기</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}


        <div class="title-header-wrapper">
            <div aria-label="title" class="title">명함 리스트</div>

            <div class="header-right-area">
                <div class="search-area">
                    <div class="select">
                        <select id="default-search-select">
                            <option value="company">회사</option>
                            <option value="name">이름</option>
                            <option value="position">직책</option>
                            <option value="role">직무</option>
                            <option value="tel">전화번호</option>
                            <option value="email">이메일</option>
                        </select>
                    </div>

                    <input class="input" aria-label="search-box" type="text" id="default-search"
                           onkeyup="handleSearchKey()" placeholder="검색어를 입력해주세요"/>

                </div>

                <div class="sort-area">
                    <span>정렬 선택</span>
                    <div class="select">
                        <select class="h-select sort-select" id="sort-list-select"
                                onchange="handleChangeSelect(this.value)">
                            <option value="register">등록순</option>
                            <option value="company">회사명</option>
                            <option value="name">이름순(가나다순)</option>
                        </select>
                    </div>
                    <button class="button primary outlined" aria-label="add-business-card"
                            onclick="modal_open_btn()">+ 명함 추가
                    </button>
                </div>
            </div>
        </div>


        <div aria-label="cards_list" class="card-list" id="card-list">
            {% for card in default_card_list %}
                <div aria-label="card-item" class="card-item">
                    {% if card.card_bookmark == 1 %}
                        <div onclick="handleClickBookmark('{{ card._id }}')" class="bookmark-button active click">
                            <i class="bi bi-bookmark-fill"></i>
                        </div>
                    {% else %}
                        <div onclick="handleClickBookmark('{{ card._id }}')" class="bookmark-button click">
                            <i class="bi bi-bookmark-fill"></i>
                        </div>
                    {% endif %}

                    {% if card_imgs in card %}
                        <img src="" class="card-image"/>
                    {% else %}
                        <img src="/static/images/noimg.png" class="card-image"/>
                    {% endif %}

                    <div class="info-wrapper">
                        <div class="inline">
                            <div>회사</div>
                            <div>{{ card.card_company }}</div>
                        </div>
                        <div class="inline">
                            <div>이름</div>
                            <div>{{ card.card_name }}</div>
                        </div>
                        <div class="inline">
                            <div>직책</div>
                            <div>{{ card.card_role }}</div>
                        </div>
                        <div class="inline">
                            <div>전화번호</div>
                            <div>{{ card.card_tel }}</div>
                        </div>
                        <div class="inline">
                            <div>이메일</div>
                            <div>{{ card.card_email }}</div>
                        </div>
                        <div class="btn-wrapper">
                            <div onclick="handleClickDeleteCard('{{ card._id }}')" class="delete-button click">
                                <i class="bi bi-trash-fill"></i>
                            </div>
                            <button class="button view-detail">상세보기</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <footer class="footer-wrapper">
        <section class="footer">
            <div class="">항해 99</div>
            <div class="">3조 미니 프로젝트</div>
        </section>
    </footer>
    <!-- 무한 스크롤 추후 구현 -->
{% endblock %}